
node_modules/
.nx/installation
.nx/cache
.nx/workspace-data

.vscode/

**/*/build/
**/*/.godot/
**/*/node_modules/
**/*/package-lock.json
**/*/yarn.lock
**/*/pnpm-lock.yaml
**/*/dist/
**/*/coverage/
**/*/tmp/
**/*/temp/
**/*/_addons/
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
